
_.log
.cache
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
*.lcov
*.tgz
*.tsbuildinfo
# caches
# code coverage
# dependencies (bun install)
# dotenv environment variable files
# Finder (MacOS) folder config
# logs
# output
coverage
dist
logs
node_modules
out
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
